body{
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    margin: 0;
    background-image: url('/Home/Downloads/cuteimg');

}

canvas{
    border: 1px solid white;

}
button{
    font-family: cursive;
    font-size: large;
    background-color: azure;
    border-radius: 10px;
    display : none;
    padding: 15px 10px;
    margin:100px;
}
button:hover{
    background-color:cyan;
}